*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 31, 31);
    position: relative;
}
.heart{
    height: 100px;
    width: 100px;
    color: rgb(0, 185, 99);
    background-color: #f20044;
    border: none;
    position: absolute;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px 5px #f20044;
    animation: heart 0.5s linear 0s infinite alternate;
}
@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.05);
    }
    25%{
        transform: rotate(-45deg) scale(1.03);
    }
    50%{
        transform: rotate(-45deg) scale(1);
    }
    75%{
        transform: rotate(-45deg) scale(0.95);
    }
    100%{
        transform: rotate(-45deg) scale(0.9);
    }
}

.heart::before{
    content: '';
    height: 100px;
    width: 100px;
    background-color: #f20044;
    position: absolute;
    top: -50%;
    border-radius: 50%;
}
.heart::after{
    content: '';
    height: 100px;
    width: 100px;
    background-color: #f20044;
    position: absolute;
    right: -50%;
    border-radius: 50%;
}
