* {
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.parent1 {
    background-color: lightgray;
    height: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.input {
    margin-bottom: 30px;
}

.div2>div {
    display: flex;
    flex-direction: column;
}

.div1>div {
    display: flex;
    flex-direction: column;
}
